<ul>
  <% if ::Refinery::SiteSettings::Admin::SiteSettingsController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.site_settings_admin_site_settings_path %>
    </li>
  <% end %>
  <li>
    <%= action_label :add, refinery.new_site_settings_admin_site_setting_path, t('.create_new') %>
  </li>
<% if !searching? && ::Refinery::SiteSettings::Admin::SiteSettingsController.sortable? && ::Refinery::SiteSettings::SiteSetting.many? %>
  <li>
    <%= action_label :reorder,
                     refinery.site_settings_admin_site_settings_path,
                     t('.reorder', what:  "Site Settings"), id: 'reorder_action'%>
    <%= action_label :reorder_done,
                     refinery.site_settings_admin_site_settings_path,
                      t('.reorder_done', what: "Site Settings"), id: 'reorder_action_done', class: 'hidden'%>
  </li>
<% end %>
</ul>
