<% if @current_authentication_devise_user.roles.find_by(title: "Superuser") %>
    <%= render 'super_user_form' %>
<% else %>
    <%= render 'normal_user_form' %>
<% end %>
<%# current_refinery_user.has_role?(:superuser) %>