<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(site_setting) -%>">
  <span class='title'>
    <%= site_setting.name %>

  </span>
  <span class='actions'>

    <%= action_icon(:edit, refinery.edit_site_settings_admin_site_setting_path(site_setting), t('.edit')) %>
    <%= action_icon(:delete, refinery.site_settings_admin_site_setting_path(site_setting), t('.delete'),
                    {class: "cancel confirm-delete",
                     data: {confirm: t('message', scope: 'refinery.admin.delete', title: site_setting.name)}}) %>
  </span>
</li>
