<ul id='sortable_list'>
  <%= render :partial => 'site_setting', :collection => @site_settings %>
</ul>
<%= render '/refinery/admin/sortable_list',
            :continue_reordering => (local_assigns.keys.include?(:continue_reordering)) ? continue_reordering : true %>
