<%= form_for [refinery, :site_settings_admin, @site_setting] do |f| -%>
    <%= render '/refinery/admin/error_messages',
               :object => @site_setting,
               :include_object_name => true %>

    <div class='field'>
      <%= f.label :name -%>
      <%= f.text_field :name, :class => 'larger widest' -%>
    </div>

    <div class='field'>
      <%= f.label :type -%>
      <%= f.text_field :type -%>
    </div>

    <div class='field'>
      <%= f.label :value -%>
      <%= f.text_field :value -%>
    </div>

    <div class="form-group">
      <div class='field'>
        <%= f.label :comment, 'Comments For Normal Users' -%>
        <%= f.text_area :comment, :rows => 10, class: 'form-control' -%>
      </div>
    </div>
    <%= render '/refinery/admin/form_actions', :f => f,
               :continue_editing => false,
               :delete_title => t('delete', :scope => 'refinery.site_settings.admin.site_settings.site_setting'),
               :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @site_setting.name) -%>
<% end -%>
